spring:
  application:
    name: blog-platform
  datasource:
    url: jdbc:h2:mem:blog;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  flyway:
    enabled: true
  thymeleaf:
    cache: false

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://localhost:5432/blog
    username: blog
    password: blog
  jpa:
    hibernate:
      ddl-auto: validate
